#checkboxes label {
  float: left;
}
#checkboxes ul {
  margin: 0;
  list-style: none;
  float: left;
}

.media-body {
  width: 90vw !important;
  height: 90vh !important;
  margin: 5vh 5vw 5vh 5vw !important;
  border: 5px white solid !important;
  border-radius: 15px !important;
}

.breadcrumb {
  margin: 5vh 5vw 5vh 5vw;
  width: 90vw;
}