body {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace !important;
  font-weight: bold !important;
}

#checkboxes label {
  float: left;
}
#checkboxes ul {
  margin: 0;
  list-style: none;
  float: left;
}

.media-body {
  /* Set rules to fill background */
  min-height: 100vh !important;
  min-width: 100vw !important;
	
  margin: 0px;
  padding: 0px;
}

.breadcrumb {
  margin: 5vh 5vw 5vh 5vw;
  width: 90vw;
}

.dropdown-search {
  /* sixing and margin/padding */
  padding: 2vh 5vw 2vh 5vw;
  width: 100vw;
  height: 0vh;

  /* colors and opacity */
  background-color: #474747;
  color: #ffffff;
  opacity: .0;

  /* animations */
  -o-transition: 1s;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;

  /* page orientation */
  z-index: 10;
  position: fixed;
  top: 0px;
  left: 0px;
}

.dropdown-search-hover {
    /* sixing and margin/padding */
  padding: 2vh 5vw 2vh 5vw;
  width: 100vw;
  height: auto;

  /* colors and opacity */
  background-color: #474747;
  color: #ffffff;
  opacity: .95;

  /* animations */
  -o-transition: 1s;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;

  /* page orientation */
  z-index: 10;
  position: fixed;
  top: 0px;
  left: 0px;
}

.list-group {
  height: 30vh;
  overflow: scroll;
  margin: 10px 0px 10px 0px;
}

.hover-btn {
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 10;

  height: 40px;
  width: 150px;
  margin: 10px;
  border-radius: 25px;
}

.go-btn {
  color: #474747;
}